:root {
  --widgetWrap: {
    padding: 7px 0 12px;
    clear: both;
    text-align: right;
    position:relative;
    line-height:25px
  };
  --label-share:{
    float:left;
    padding:2px 10px 0 0;
  }
}

label {@apply --label-share;}
input{width:154px;margin: 0px;padding: 1px;}
label, input{font-size:12px;}
.wrap-widget{@apply --widgetWrap;}
.mini-button-wrap{position: absolute;top: -1px;right: -24px;}
