:root {
  --widgetWrap:{
    padding: 7px 0 12px;
  }
}

label { display: block; font-size:12px;}
input{margin: 0px;padding: 1px;}
.wrap-widget{@apply --widgetWrap; position:relative;}
.checkBoxTitle {position: relative;top: -4px;}
